<nav ngbNav #nav="ngbNav" class="nav-tabs">
    <ng-container ngbNavItem>
      <a ngbNavLink>Currencies</a>
      <ng-template ngbNavContent>
        <button type="button" class="btn btn-outline-primary mb-3">
            Add New Currency
        </button>
        <table *ngIf="currencies" class="table table-striped">
            <thead>
            <tr>
             
              <th scope="col">Id</th>
              <th scope="col">Acronym</th>
              <th scope="col">Name</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let currency of currencies">
             
              <td>
                {{ currency.id }}
              </td>
              <td>{{ currency.acronym }}</td>
              <td>{{ currency.name }}</td>
              <td>
                <button type="button" class="btn btn-outline-primary mr-2">
                   Edit
                </button>
                <button type="button" class="btn btn-outline-danger">
                   Delete
                </button>
              </td>
            </tr>
            </tbody>
          </table>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>Portfolios</a>
      <ng-template ngbNavContent>
        <button type="button" class="btn btn-outline-primary mb-3">
            Add New Portfolio
        </button>
        <table  *ngIf="portfolios" class="table table-striped">
            <thead>
            <tr>
             
              <th scope="col">Id</th>            
              <th scope="col">Name</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let portfolio of portfolios">
             
              <td>
                {{ portfolio.id }}
              </td>
             
              <td>{{ portfolio.name }}</td>
              <td>
                <button type="button" class="btn btn-outline-primary mr-2">
                   Edit
                </button>
                <button type="button" class="btn btn-outline-danger">
                   Delete
                </button>
              </td>
            </tr>
            </tbody>
          </table>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>Portfolio Lines</a>
      <ng-template ngbNavContent>
        <button type="button" class="btn btn-outline-primary mb-3">
            Add New Portfolio Line
        </button>
        <table *ngIf="portfolioLines" class="table table-striped">
            <thead>
            <tr>
             
              <th scope="col">Id</th>            
              <th scope="col">Amount</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let portfolioLine of portfolioLines">
             
              <td>
                {{ portfolioLine.id }}
              </td>
             
              <td>{{ portfolioLine.amount }}</td>
              <td>
                <button type="button" class="btn btn-outline-primary mr-2">
                   Edit
                </button>
                <button type="button" class="btn btn-outline-danger">
                   Delete
                </button>
              </td>
            </tr>
            </tbody>
          </table>
      </ng-template>
    </ng-container>
  </nav>

  <div [ngbNavOutlet]="nav" class="mt-2 p-3"></div>